pre {
  background-color: #f9f9f9;
  border: 1px dashed #2f6fab;
  color: black;
  line-height: 1.1em;
  padding: 1em;
}

pre.example {
  border-top: 1px solid #ff4500;
  border-bottom: 1px solid #ff4500;
  padding: 1em;
  margin-top: 1em;
}

pre.example::before {
  content: "Example";
  display: block;
  width: 150px;
  background: #ff4500;
  color: #fff;
  font-family: initial;
  padding: 3px;
  font-weight: bold;
  margin: -1em 0 1em -1em;
}

pre.query {
  border-top: 1px solid #ff4500;
  border-bottom: 1px solid #ff4500;
  padding: 1em;
  margin-top: 1em;
  width: 60%;
}

pre.query::before {
  content: "SPARQL Query";
  display: block;
  width: 150px;
  background: #ff4500;
  color: #fff;
  font-family: initial;
  padding: 3px;
  font-weight: bold;
  margin: -1em 0 1em -1em;
}

pre,
code {
  font-family: monospace;
}

pre {
  margin-left: 2em;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

#topic {
  font-size: 15px;
}

pre.result {
  border-top: 1px solid #0026ff;
  border-bottom: 1px solid #0026ff;
  /* padding: 1em; */
  width: 60%;
}

pre.result::before {
  content: "Query Results";
  display: block;
  width: 150px;
  background: #0026ff;
  color: #fff;
  font-family: initial;
  padding: 3px;
  font-weight: bold;
  margin: -1em 0 1em -1em;
}

.result table {
  border-collapse: collapse;
}
.result table td {
  border-width: 1px;
  border-color: black;
  font-family: monospace;
  font-size: 88%;
  empty-cells: show;
  /* padding-left: 1ex ; padding-right: 1ex ;*/
  vertical-align: top;
  text-align: left;
}
/*  spacing: 0 ;*/
.result table th {
  border-width: 1px;
  font-family: monospace;
  font-size: 88%;
  border-color: black;
  empty-cells: show;
  padding-left: 1ex;
  padding-right: 1ex;
  vertical-align: top;
  text-align: center;
}
