* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__header {
  width: 100%;
  height: 65px;
  background: #007bff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#uncontrolled-tab-example {
  background-color: white;
}

#title {
  color: white;
  margin-left: 12px;
}

#Capa_1 {
  height: 40px;
  width: 40px;
  fill: white;
  margin-left: 8px;
}
